#galerie_statica{
    display:grid;
    grid-template-columns: repeat(3,1fr);/* 1fr 1fr 1fr */
    grid-gap:10px;
}
#galerie_statica figure:nth-child(7){
    grid-area: 3/2/4/3;
}

#galerie_statica img{
    width:100%;
}