<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind ofera prajituri, torturi, produse de patiserie cu optiunea de achizitie online si livrare prin curier.">
        <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse">
        <title>Cofetăria Dulcelind - home</title>
        <%- include("../fragmente/head.ejs");  %> 

        <!--
        <link rel="stylesheet" href="/resurse/css/general.css" type="text/css"/>
        <link rel="stylesheet" href="/resurse/css/nav.css" type="text/css"/>
        <link rel="stylesheet" href="/resurse/css/galerie-statica.css" type="text/css"/>
        <link rel="stylesheet" href="/resurse/css/nav-500.css" type="text/css" media="screen and (max-width:650px)"/>
        <link rel="stylesheet" href="/resurse/css/general-1200.css" type="text/css" media="screen and (max-width:1200px)"/>
		<link rel="stylesheet" href="/resurse/css/general-500.css" type="text/css" media="screen and (max-width:500px)"/>
		<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet"> 
-->
        
        <style>
/*
            body{
                --inalt-meniu:2rem;
            }
            nav{
                height:var(--inalt-meniu);
                width:100%;
                background-color: aqua;
                position:fixed;
                top:0;
                left:0;
                z-index: 2;

            }
            nav ul, nav li, nav a,nav{
                padding:0;
                margin:0;
            }
            ul.meniu li{          
            box-sizing: border-box;
            width:120px;
            text-align: center;
            list-style-type: none;
            height:var(--inalt-meniu);
            float:left;
            }
            ul.meniu ul{
                display:none;
            } 
            ul.meniu>li>div{
                z-index: 2;
                position: relative;
            }
            ul.meniu>li>ul{
                z-index: 1;
                position: relative;
            }
            ul.meniu li:hover ul{
                display: block;
                
                position: relative;
                transform-origin: 0 0;
                animation-name: subm;
                animation-timing-function: linear;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
            }
            ul.meniu li:hover>a,ul.meniu li:hover>div{
                background-color:cadetblue;
            }
            ul.meniu li a{
                
                
                display:block;
            }
            ul.meniu li a, ul.meniu li div{
                cursor:pointer;
                background-color: aqua;
                width:100%;
                height:100%;
                transition:all 1s linear;
                box-sizing: border-box;
                outline:1px solid black;  
                text-decoration: none;
                color: black;
                font-weight: bold;
                padding:5px;
            }

            #hamburger{
                display:none;
            }
            #ch-menu{
                display:none;
            }
            h1{
                padding-top:100px;
            }
            @keyframes subm{
                0%{
                    opacity: 0;
                    transform:scale(0,0);
                }
                100%{
                    opacity: 1;
                    
                    transform:scale(1,1);
                }
            }
*/
        </style>

    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
       <h1>403 -  N-ai voie!!!!!</h1>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>