<!DOCTYPE html>
<html  lang="ro">
    <head>
        <%- include('../fragmente/head'); -%>
        <title>Eroare 403</title>

    </head>
    <body>
        <%- include('../fragmente/header'); -%>

        <main>
            <h1> Ati incercat sa accesati o pagina interzisa. </h1>
            <img src="/resurse/imagini/403.jpg">
        </main>
        
        <%- include('../fragmente/footer'); -%>

    </body>
</html>