<!DOCTYPE html>
<html  lang="ro">
    <head>
        <%- include('../fragmente/head'); -%>
        <title>Eroare 404</title>

    </head>
    <body>
        <%- include('../fragmente/header'); -%>

        <main>
            <h1> Probabil eroare la tastare. Page not found 404 </h1>
            <img src="/resurse/imagini/404.jpeg">
        </main>
        
        <%- include('../fragmente/footer'); -%>

    </body>
</html>