<!DOCTYPE html>
<html  lang="ro">
    <head>
        
        <meta name="description" content="Piese de calculator">
        <meta name="keywords" content="calculator, sistem de calcul">
        <title>CompPC</title>
        
        <meta name="author" content="Stoica Ioan">

    </head>
    <body>
        <h2>
            PAge AUX: Aceasta este pagina principala a magazinului de componente de calculator2. 
         </h2>
    </body>
</html>