<!DOCTYPE html>
<html  lang="ro">
    <head>
        <%- include("../fragmente/head"); -%>

        <meta name="description" content="Contact">
        <meta name="keywords" content="contact, telefon">
        <title>Contact</title>

    </head>
    <body>
        <%- include("../fragmente/header"); -%>

        <main>
            <h2>
                Aici gasiti cateva informatii despre site.
             </h2>
             <b> Acest site este un magazin de componente de calculator. </b>
        </main>
        
        <%- include("../fragmente/footer"); -%>
    </body>
</html>