body {
    --inaltime-meniu: 25px;
    --latime-buton: 100px;
    --culoare-meniu: blue;
    --culoare-meniu-selectat: red;
    --latime-bord-meniu: 1px;
}

ul.meniu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul.meniu li a {
    display: block;
    height: 100%;
}

ul.meniu>li {
    height: var(--inaltime-meniu);
    overflow: hidden;
    line-height: var(--inaltime-meniu);
    vertical-align: middle;
    border:var(--latime-bord-meniu) solid black;
    width: var(--latime-buton);
    text-align: center;
}

ul.meniu ul{
    list-style-type: none;
    z-index: 10px;
    position: relative;
    left: -1px;
    padding: 0;
    margin: 0;
    transform: scale(0.5, 0);
    transform-origin: 50% 0;
}

ul.meniu>li:hover ul{
    animation-name: animatie_submeniu;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

ul.meniu ul li{
    height: var(--inaltime-meniu);
    border: var(--latime-bord-meniu) solid black;
    width: var(--latime-buton);
    
}

ul.meniu li a:hover, ul.meniu li div:hover{
    background-color: var(--culoare-meniu-selectat);
}

ul.meniu>li:hover {
    overflow: visible;
}

ul.meniu a, ul.meniu div{
    color: black;
    cursor: pointer;
    font-weight: bold;
    transition: 1s linear;
    background-color: var(--culoare-meniu);
    text-decoration: none;
}

@keyframes animatie_submeniu {
   50% {
      transform: scale(0.5, 1);
   } 
   100% {
      transform: scale(1, 1);
      opacity: 1;
   }
}

#hamburger, #ch-menu{
    display: none;
}

nav{
    height: var(--inaltime-meniu);
    background-color: var(--culoare-meniu);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}