<footer>
    <!-- Etapa 1.11.b -->
    <!-- Etapa 3.12.3 -->
    <a class="sus" href="#">Sus</a>
    <p>Detalii de contact:</p>
    <address>
        <!-- Etapa 1.13.a -->
        <a href="tel:0773222111">0773222111</a>
        <!-- Etapa 1.13.c -->
        <a href="mailto:ioanstoica@gmail.com"> ioanstoica@gmail.com</a>
        <!-- Etapa 1.11.a -->
        <!-- Etapa 1.13.b -->
        <a
            href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355355,26.097398,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867">Strada
            Academiei 14, București 010014 </a>S
        <!-- 2 link whatsapp/skype -->
        <a href="https://wa.me/40773222111">Whatsapp</a>
    </address>
    <small>&#169;CompPC <time datetime="2022-02-20">20 februarie 2022</time></small>
</footer>