<header>
    <p id="Sus"> </p>

    <!-- Etapa 1.5 -->
    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">

        <!-- Etapa 1.7 -->
        <ul class="meniu">
            <li> <a href="/index">
                    <div>Acasa</div>
                </a>
                <ul>
                    <li> <a href="/index#welcome">Start</a></li>
                    <li> <a href="/index#info">Info calculatoare</a></li>
                    <li> <a href="/index#faq">F&Q</a></li>
                </ul>
            </li>
            <li>
                <div>Inregistrare</div>
            </li>
            <li> <a href="/despre">
                    <div>Despre</div>
            </li> </a>
            <li>
                <div> Produse</div>
                <ul>
                    <li> <a href="listaProduse"> Lista Produse</a> </li>
                    <li> <a href="despreProduse">Despre produsele noastre</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <h1>
        Componente PC
    </h1>

    <!-- Etapa 3.12.0 -->
    <p id="banner">
        Acesta este un proiect școlar!
    </p>

</header>