    
    <header>
        <h1>Cofetaria <span>Dulcelind</span></h1>
       
    </header>
    <nav>
            
        <label id="hamburger" for="ch-menu">
            <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li><div>Acasa</div>
                <ul>
                    <li><a href="/index#welcome">Bine ati venit</a></li>
                    <li><a href="/index#promotii">Promotii</a></li>
                    <li><a href="/index#anunturi">Anunturi</a></li>
                    <li><a href="/index#produse">Oferta</a></li>
                    <li><a href="/index#orar">Orar</a></li>
                    <li><a href="/index#index-intrebari">Întrebări</a></li>
                    <li><a href="/index#retete">Rețete</a></li>
                </ul>
            
            
            </li>
            <li><div>Despre</div>
                <ul>                        
                    <li><a href="despre#prezentare">Prezentare</a></li>
                    <li><a href="despre#istoric">Istoric</a></li>
                    <li><a href="despre#motivatie">Motivatie</a></li>
                    <li><a href="despre#galerie">Galerie</a></li>
                </ul>
            </li>
            <li><div>Produse</div>
                <ul>
                    <li><a href="#">Toate</a></li>
                    <li><a href="#">Prajituri</a></li>
                    <li><a href="#">Torturi</a></li>
                    <li><a href="#">Patiserie</a></li>
                </ul>
            
            </li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>