<header>
    <p id="Sus"> </p>
    
    <nav>
        <ul>
            <li> <a href="index">Acasa</a> </li>
                <ul>
                    <li> <a href="index#welcome">Start</a></li>
                    <li> <a href="index#info">Info calculatoare</a></li>
                    <li> <a href="index#faq">F&Q</a></li>
                </ul>
            <li> <a href="inregistrare">Inregistrare</a> </li>
            <li> <a href="despre">Despre</a> </li>
            <li> <div> Produse</div>
                <ul> 
                    <li> <a href="listaProduse"> Lista Produse</a> </li>
                    <li> <a href="despreProduse">Despre produsele noastre</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <h1>
        Componente PC
    </h1>
</header>