<header>
    <p id="Sus"> </p>
    
    <nav>
        <a href="index.html">Acasa</a> 
        <a href="index.html">Produse</a> 
        <a href="index.html">Contact</a> 
    </nav>
    <h1>
        Componente PC
    </h1>
</header>